:root {
    /* global styling (main) */
    --color-main-orange: #FF5C08;
    --color-main-light-orange: #FE8F08;
    --gradient-navbar-og: linear-gradient(to right,#ff5c08, #fe8f08);
    --font-main-sans-serif: "Montserrat", "sans-serif";
    --bs-box-shadow: 0.1px 0 20px rgba(0, 0, 0, 0.03); 

    /* additional colors */
    --color-blue: #007bff;
    --color-indigo: #6610f2;
    --color-purple: #696cff;
    --color-pink: #e83e8c;
    --color-red: #ff3e1d;
    --color-orange: #fd7e14;
    --color-yellow: #ffab00;
    --color-green: #71dd37;
    --color-teal: #20c997;
    --color-cyan: #03c3ec;
    --color-white: #fff;
    --color-gray: rgba(67, 89, 113, 0.6);
    --color-gray-dark: rgba(67, 89, 113, 0.8);
    --color-primary: #696cff;
    --color-secondary: #8592a3;
    --color-success: #71dd37;
    --color-info: #03c3ec;
    --color-warning: #ffab00;
    --color-danger: #ff3e1d;
    --color-light: #fcfdfd;
    --color-dark: #233446;
    --bs-gray: rgba(67, 89, 113, 0.1);
}

body{
    background-color: #2D241F;
    /* overflow: hidden; */
    font-family: var(--font-main-sans-serif);
}

.navbar{
  background-color: transparent;
  margin-top: 10px;
}

.navbar-logo{
  margin-top: 0.25em;
}
.navbar-brand{
  font-weight: bold;
}

#logo{
  margin-bottom: 0.1em;
  margin-right: 0.2em;
}

.navbar-collapse{
  flex-grow: 0;
  margin-right: 1.5em;
  font-weight: 500;
}

.nav-item > .nav-link{
  color: var(--color-white);
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo, .navbar-menu-button {
  flex: 1; 
}

.navbar-menu-button {
  display: flex;
  justify-content: flex-end;
}

.profilenav {
  margin-left: 1em; 
}

.profilenav a i {
  font-size: 24px; 
  color: white; 
  margin: 0.24em 0.2em;
}

@media screen and (max-width: 991px){
  #logo{
      width: 18%;
      margin-bottom: 0.18em;
  }
}

#landing-pg-content{
    min-height: 85vh;
    align-items: center;
    max-width: 800px;
    color: var(--color-white);
    text-shadow: 2px 2px 4px #000000;

}

.landing-paragraph > h1{
    font-size: clamp(1em, 8vw, 3em);
    box-shadow: var(--bs-box-shadow);
    
}


.reserve-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-image: var(--gradient-navbar-og);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;

    /* align button to the center a bit */
    margin-right: 0.5em;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }

  .btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-main-light-orange);
    min-width: 110px;
    min-height: 26px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 0px 10px;
    color: var(--color-light);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: .95;
  }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }

.barber-list{
  color: #fff;
}

.barber-carousel{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 300px;
  height: 380px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  background: var(--gradient-navbar-og);
  display: flex;
  align-items: start ;
  justify-content:end;
}

.card p {
  font-size: 14px;
  color: white;
}

.desktop-carousel {
  display: none;  
}

.mobile-carousel {
  display: block;  
}


@media (min-width: 1000px) {
  .desktop-carousel {
    display: block; 
  }
  
  .mobile-carousel {
    display: none;  
  }
}

#east-k-edge-footer{
  background-image: var(--gradient-navbar-og);
}

.footer-text{
  color: var(--color-white);
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
}
.add-footer{
  background-color: var(--color-white);
}
.add-footer-text{
  color: var(--color-main-orange);
}